@media only screen and (max-width: 360px) and (min-height: 640px){
    #home{height: 130vh;}
    #nossaempresa{height: 200vh;}
    .button1{width: 80vw;}
}
@media only screen and (max-width: 1400px){
    .margem{margin-top: 2%;}
    #nossaempresa{ height: 80vh;}
    #funcionalidades{height: 115vh;}
    .imgnot{height: 20vh;width: 30vh;}
    #contatos{height: 100vh;}
}