
@media only screen and (max-width: 1400px){
    #homeLogo{margin-bottom: -3%}
    .margem{margin-top: 8%;}
    #nossaempresa{height: 80vh;}
    #funcionalidades{height: 115vh;}
    #cartao{height: 90vh;}
    .img-news{height: 25vh;width: 30vh;}
    #contatos{height: 100vh;}
    .conta{width: 26vh;}
    .marge{height: 7.5vh;}
}
/*---------GALAXY S5------ */
@media only screen and (max-width: 360px) and (min-height: 640px){
    #home{height: 130vh;}
    .bg{height: 100%;}
    .button1{width: 80vw;}
    .margem{margin-top: 25%;}
    #nossaempresa{height: 200vh;}
    .alin{text-align: center;margin-left: 1vh;}
    #funcionalidades{height: 280vh;}
    .ajust{text-align: center;}
    .func{margin-left: 23vw;width: 50%;}
    .func1{margin-left: 23vw;width: 50%;}
    .button2{width: 70vw;}
    .linha2{width: 50%;}
    #cartao{height: 180vh;}
    #noticias{height: 85vh;}
    #news{margin-left: -15vw;}
    .carousel-control-next-icon{margin-left: 1vw;width: 7vw;height: 5vh;}
    .carousel-control-prev-icon{margin-right: 1vw;width: 7vw;height: 5vh;}
    .img-news{height: 15vh;margin-left: 5vw;}
    .backg{height: 30vh;}
    #contatos{height: 110vh;}
    .conta1{width: 80vw;}
    #cemail{width: 31vw;}
    #mensage{width: 80vw;}
    .creditos{text-align: center;}
    .uso{width: 100%;}
    .sendemail{margin-left: 10vw;}
}