/* cor da navbar:rgb(4,30,65); */
/* cor da seleção:rgb(1,130,202); */

/* ------------------------NAVBAR:INICIO------------------------------ */
.navbar{height: 12vh;font-size: 3vh;}
#Navbar{background-color: rgb(4,30,65);}
.bg{height: 100%;background-color: rgba(0, 0, 0, 0.5);}
.bg-luz{height: 100%;background-color: rgba(255, 255, 255, 0.5);}
ul {height: 12vh;}
.move{width: 22vw;}
.efect:hover{background-color: #0182ca !important;background-size: 100px;}
#navLogo{opacity: 0;}
/* --------------------------------NAVBAR:FIM------------------------- */

/* ------------------------------HOME:INICIO------------------------------------ */
#home{height: 100%; background-image: url('../media/img/img-home.jpg');background-repeat: no-repeat;background-color: black;background-size: cover;}
.texto{color:rgb(4,30,65);}
.marge{height: 15vh;}
.margem{margin-top: 12%;}
.button {background-color: rgb(0, 61, 118);border: none;color: white;padding: 0px;text-align: center;text-decoration: none;display: inline-block;font-size: 40px;margin: 4px 2px;cursor: pointer;}

.button1 {border-radius: 5px;width: 23vw;height: 10vh;margin-bottom: 5vh;}
/* --------------------------------HOME:FIM--------------------------------------------- */


/* ---------------NOSSA EMPRESA:INICIO----------- */
#nossaempresa{ height: 70vh;}
.ipsum{font-size: 20px;}
.iframe{width: 50vw;height: 60vh;margin-top: 5vh;margin-left: 5vw;}
/* ---------------NOSSA EMPRESA:FIM----------- */


/* --------------FUNCIONALIDADES : INICIO----------- */
#funcionalidades{height: 90vh;}
hr{border: none;}
.func{background-color: rgb(241, 207, 54);height: 5px;width: 15vw;margin-right: -0.5vw;}
.func1{background-color: rgb(241, 207, 54);height: 5px;width: 15vw;margin-left: -0.5vw;}
.linha2{background-color: rgb(241, 207, 54);height: 5px;width: 10%;}
.button2{font-size: 16px;width: 30vw;height: 7vh;border-radius: 6px;}
.iphone{border-radius: 30px;}
.anchors{height: 1px;}
/* --------------FUNCIONALIDADES : FIM----------- */


/* --------------PLANOS : INICIO----------- */
.text-mody{color: #777777;font-family: "Poppins", sans-serif;font-size: 14px;font-weight: 300;line-height: 1.625em;list-style: none;margin-left: -3vw;}
.mody{color: #777777;font-family: "Poppins", sans-serif;font-size: 14px;font-weight: 300;line-height: 1.625em;list-style: none;}
.section-gap {padding: 20px 0;}
.price-area .single-price:hover{background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);}
.price-area .single-price {-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;text-align: center;background-color: #f9f9ff;padding: 40px 20px;} 
.price-area .single-price .package-no {-webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;font-weight: 300;margin-left: auto; margin-right: auto;width: 140px;height: 140px;background-color: rgba(132, 144, 255, 0.1);border-radius: 100px;align-items: center;display: grid;border: 30px solid rgba(132, 144, 255, 0.1);}
.price-area .single-price .top-part h4 {margin-top: 20px;} 
.price-area .single-price .package-list {padding-bottom: 40px;padding-top: 15px;}  
.price-area .single-price .package-list ul li {padding: 10px 0;border-top: 1px solid #eee;}  
.price-area .single-price .package-list ul li:last-child {border-bottom: 1px solid #eee;}
.price-area .single-price .bottom-part {-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}  
.price-area .single-price .bottom-part .price-btn {-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;background-color: #fff;color: #222;padding: 10px 50px;font-weight: 600;display: inline-block;display: none;}  
.price-area .single-price:hover {transform: scale(1.05);z-index: 2;color: #fff;cursor: pointer;}  
.price-area .single-price:hover h1, .price-area .single-price:hover h4 {color: #fff;}
.price-area .single-price:hover .package-no {border-color: rgba(255, 255, 255, 0.21);background-color: rgba(255, 255, 255, 0.1);}
.price-area .single-price:hover .bottom-part h1 {display: none;}
.price-area .single-price:hover .bottom-part .price-btn {display: block;}
.text-uppercase{margin-left: .3vw;}

@media (max-width: 960px) {
  .price-area .single-price {margin-bottom: 30px;}
}
  
@media (max-width: 736px) {
  .price-area .single-price {margin: 10px;}
}
/* --------------PLANOS: FIM----------- */

/* -----------DEPOIMENTOS: INICIO------- */
.testimonial-area {background-color: #f9f9ff;height: 65vh;}
  
.testimonial-area .owl-controls {position: absolute;left: 101%;top: 25%;}
  
@media (max-width: 1024px) {
  .testimonial-area .owl-controls {position: relative;text-align: center;left: 0;top: 20px;}
  .testimonial-area .owl-controls .owl-prev, .testimonial-area .owl-controls .owl-next {display: inline-block;}
}
  
.testimonial-area .lnr-arrow-up, .testimonial-area .lnr-arrow-down {background-color: white;box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);padding: 14px;color: #000;font-weight: 500;border: 1px solid #f5f5f5;display: inline-flex;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
  
.testimonial-area .lnr-arrow-up:hover, .testimonial-area .lnr-arrow-down:hover {background: #8490ff;color: #fff;}

.single-testimonial {background-color: #fff;padding: 25px 30px 12px 30px;-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
.single-testimonial:hover {cursor: pointer;}
  
.single-testimonial .thumb {margin-right: 30px;}
  
.single-testimonial h4 {-webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;margin-bottom: 5px;}
  
.single-testimonial:hover h4 {color: #8490ff;cursor: pointer;}
   
/* -----------DEPOIMENTOS: FIM---------- */


/*--------------------------------CARTÃO MEi:INICIO-------------------- */
#cartao{background-color: #f9f9ff;height: 70vh;}
/*--------------------------------CARTÃO MEi:FIM------------------------*/



/*-------------- NOTICIAS----------- */
#noticias{height: 80vh;background-color: #f9f9ff;}
.desce{margin-bottom: -10vh;}
.linha{background-color: rgb(4,30,65);height: 4px;margin-top: -1vh;margin-bottom: 5vh;width: 10%;}
#news{ height: 25vh;}
.backg{background-color:white;height: 25vh;}
.carousel-control-next-icon{background-image: url('../Media/img/right.png');height: 5vh;width: 2.5vw;}
.carousel-control-prev-icon{background-image: url('../Media/img/left.png');height: 5vh;width: 2.5vw;}
.carousel-indicators .active{background-color: rgb(1,130,202);}
.carousel-indicators li{height: 10px;width: 10px;border-radius: 50%;background-color: rgb(204, 204, 204);}

/*----------------------------MODAL------------------*/
.input1{border: 1px solid ;border-radius: 6px;border-color:rgb(4, 30, 65); width: 20vw; height: 6.5vh;padding-left: 10px; }
.input{border: 1px solid ;border-radius: 6px;border-color:rgb(4, 30, 65); width: 10vw; height: 6.5vh;padding-left: 10px;}
.modal-login{height: 70vh;width: 25vw;margin-left: 3vw;}
.title-margin{margin-left: 9vw;margin-top: 3vh;}
.login-margin{margin-top: 5vh !important;margin-left: 7vw;}
/*---------------------------- CONTATOS:  INCIO------------------- */
#contatos{height: 85vh; background-image: url('../Media/img/img-contatos.jpg');background-repeat: no-repeat;background-color: black;background-size: cover;}
.conta1{border: 1px solid ;border-radius: 4px;border-color:rgb(4, 30, 65); width: 30vw; height: 6.5vh;padding-left: 10px;}
.conta{border: 1px solid ;border-radius: 4px;border-color:rgb(2, 24, 53); width: 12vw; height: 6.5vh;padding-left: 10px;}
#cemail{width: 16.6vw;}
textarea {width: 30vw;height: 150px;padding: 12px 20px;box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;resize: none;}
.termos{color: white;}
#footer{background-color:rgb(0, 61, 118); }
.bluest{height: 3vh;background-color: rgb(0, 61, 118);}
.creditos{background-color: rgb(0, 0, 0)}