
/* ---------------NAVBAR:INICIO----------- */
.navbar{
    height: 12vh;
    font-size: 3vh;
}
/* cor da navbar:rgb(4,30,65); */
/* cor da seleção:rgb(1,130,202); */
.bg-darkblue{
    background-color: rgb(4,30,65); 
}
.bg{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
ul {height: 12vh;}
ul li:hover{background-color: rgb(1,130,202);background-size: 100px;}
/* ---------------NAVBAR:FIM----------- */

/* ---------------HOME:INICIO----------- */
#home{height: 100vh; background-image: url('../media/img/img-home.jpg');background-repeat: no-repeat;background-color: black;background-size: cover;}
.texto{
    color:rgb(4,30,65);
}
.marge{
    margin-bottom: 8%;
}
.margem{margin-top: 12%;}
.button {
    background-color: rgb(0, 61, 118);
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 5px;
    width: 23vw;
    height: 10vh;
}
/* ---------------HOME:FIM----------- */

/* ---------------NOSSA EMPRESA:INICIO----------- */
#nossaempresa{ height: 70vh;}
.ipsum{font-size: 30px;}
/* ---------------NOSSA EMPRESA:FIM----------- */

/* --------------FUNCIONALIDADES : INICIO----------- */
#funcionalidades{height: 90vh;}
.func{background-color: rgb(4,30,65);height: 3px;width: 15vw;margin-right: -0.5vw;}
.func1{background-color: rgb(4,30,65);height: 3px;width: 15vw;margin-left: -0.5vw;}
.linha2{background-color: rgb(4,30,65);height: 3px;width: 40%;}
.button2{font-size: 16px;width: 30vw;height: 7vh;border-radius: 6px;}
.iphone{
    border-radius: 30px;
}
/* --------------FUNCIONALIDADES : FIM----------- */

/*-------------- NOTICIAS----------- */
#noticias{height: 50vh;background-color: wheat;}
.linha{background-color: rgb(4,30,65);height: 3px;margin-top: -1vh;margin-bottom: 5vh;width: 10%;}
#news{ height: 25vh;}
.backg{background-color:white;height: 25vh;}
.carousel-control-next-icon{background-image: url('../Media/img/next.png');}

:-ms-input-placeholder {  
    color: rgb(4, 30, 65);  
 }
/*----------------------------MODAL------------------*/
.input1{border: 1px solid ;border-radius: 6px;border-color:rgb(4, 30, 65); width: 20vw; height: 6.5vh;padding-left: 10px; }
.input{border: 1px solid ;border-radius: 6px;border-color:rgb(4, 30, 65); width: 10vw; height: 6.5vh;padding-left: 10px;}

